.Collapsible {
  background-color: #22BBB5; }

.Collapsible__contentInner {
  padding: 10px;
  background: white;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 10px;
  background-color: #22BBB5;
  color: black; }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }
